$black: rgb(34, 40, 49);
$black-transparent: rgba($black, 0.75);
$black-light: rgb(57, 62, 70);
$black-light-transparent: rgba($black-light, 0.75);
$torquise: #00adb5;
$torquise-transparent: rgba($torquise, 0.75);
$grey-light: #eeeeee;
